{% extends './_base.html' %} {% block content %}

<section class="quiz_frame">
  <progress value="{{ question.su }}" max="10"></progress>
  <h1>문제</h1>

  <p>현재 진행 중인 문제: {{ question.su }}</p>
  <p>{{ question.headline }}</p>
  <p>{{ question.lead }}</p>
  <p>투자 대상: {{ question.invest }}</p>

  <form method="post" action="{% url 'answer_question' %}">
    {% csrf_token %}
    <label> <input type="radio" name="answer" value="1" /> True </label>
    <label> <input type="radio" name="answer" value="0" /> False </label>
    <br />
    <input type="submit" value="다음 문제로 이동" />
  </form>
</section>

{% endblock %}
